
<div>
<h1>Recipes</h1> 
<!-- <button id="scrape" class="btn">Get Recipes</button> -->
<a class="uk-button uk-button-default" href="/scrape" uk-toggle id="scrape">Get Recipes</a>
<a class="uk-button uk-button-default" href="/saved" uk-toggle>Show Saved Recipes</a>
<!-- <button id="saved" href= "/saved" class="btn">Show Saved Recipes</button> -->
</div>


<div class="uk-child-width-1-4@m" uk-grid id = "cardContainer">
  {{#each recipes}}

	  {{#unless this.saved}}

	  	<div>
	        <div class="uk-card uk-card-default">
	            <div class="uk-card-media-top">
	                <img src= {{image}} alt="">
	            </div>
	            <div class="uk-card-body">
	                <a href = "{{link}}"><h3 class="uk-card-title">{{title}}</h3></a>
	                <p>{{content}}</p>
	  <!--                <button class="change-save" data-id="{{_id}}" data-saved="{{saved}}">Save Recipe
			    	</button> -->
			    	 <button class="uk-button uk-button-secondary change-save" data-saved="{{saved}}" data-id = "{{_id}}" type="button">Save Recipe</button>
	            </div>
	        </div>
    	</div>
	  {{/unless}}
  {{/each}}
</div>


<script>
	
</script>
  